* {
  box-sizing: border-box;
}

body {
  font-family: Trebuchet MS;
  color: rgb(96, 5, 96);
  background-color: rgb(216, 159, 102);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
}

body>div>div>h1 {
  text-align: center;
}

#authForm, .createPost>form, .updatePost>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 2rem;
  margin: 0 3rem 1rem 3rem;
  border-radius: 2rem;
}

#authForm>* , .createPost>form>*, .updatePost>form>*{
  margin: .5rem 0 .5rem 0;
  width: 300px;
}

#authForm>button, .createPost>form>button, .updatePost>form>button, #delete>button{
  width: 100px;
}

.createPost>form {
  padding: 2rem 4rem 2rem 4rem;
}

.createPost>h1, .about>h1, .contact>h1 {
  padding: 0 0 0 2rem;
}

#delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete>button {
  color: rgb(237, 11, 11);
  font-weight: bolder;
  margin-bottom: 1rem;
}

#welcome {
  margin: 0 0 0 2rem;
}

#logout {
  display: flex;
  justify-content: flex-end;
  padding: 0 .5rem 0 0;
}

#logout>button {
  margin: 0;
}

.selected {
  font-weight: bolder;
  text-decoration: underline;
}

a {
  color: rgb(96, 5, 96);
}

.mine {
  font-weight: bold;
}

nav {
  background-color: rgba(255, 255, 255, 0.47);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px black;
}

nav>* {
  padding: 1rem;
  width: 33%;
  text-align: center;
  text-decoration: none;
}

.allPosts>h1 {
  text-align: center;
  text-decoration: underline;
}

.allPosts>h2 {
  margin-left: 2rem;
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
}

.posts {
  width: calc(100% / 3 - .2rem);
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  text-align: center;
  padding: .5rem;
  margin: .1rem;
}

.posts>*:hover {
  color: white;
  transition: .3s;
}

.posts>a>h3 {
  text-decoration: underline;
}

#selectPost {
  padding: 0 1rem 1rem 1rem;
}

#selectPost>.update>h2 {
  padding: 0 0 0 2rem;
  text-decoration: underline;
}

#selectPost>#post{
  text-align: center;
}

#mostExpensive>h1 {
  text-decoration: underline;
  margin: 1rem 0 0 1rem;
}

.close {
  margin: 1rem 0 1rem 2rem;
  padding: .2rem;
  border: 1px solid gray;
}