* {
  box-sizing: border-box;
}
body {
  color: whitesmoke;
  background-color: rgb(37, 43, 49);
}

a {
  color: rgb(217, 142, 217);
}

button {
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

form>* {
  margin: 0.5rem;
}

.mine {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;

  border: 1px whitesmoke solid;
}

nav>* {
  border: 1px solid dodgerblue;
  padding: 1rem;
  width: 33%;
  text-align: center;
}