body {
  color: whitesmoke;
  background-color: rgb(37, 43, 49);
}

a {
  color: rgb(217, 142, 217);
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

.mine {
  font-weight: bold;
}
